body {
    margin: 0px ;
	padding: 40px;
	overflow-x: hidden; 
	-webkit-box-shadow:
		inset #19d4ff 0 0 0 5px,
		inset #18cdf7 0 0 0 1px,
		inset #53dfff 0 0 0 10px,
		inset #50d8f7 0 0 0 11px,
		inset #8ce9ff 0 0 0 16px,
		inset #88e2f7 0 0 0 17px,
		inset #c5f4ff 0 0 0 22px,
		inset #bfecf7 0 0 0 23px;
	-moz-box-shadow:
		inset #19d4ff 0 0 0 5px,
		inset #18cdf7 0 0 0 1px,
		inset #53dfff 0 0 0 10px,
		inset #50d8f7 0 0 0 11px,
		inset #8ce9ff 0 0 0 16px,
		inset #88e2f7 0 0 0 17px,
		inset #c5f4ff 0 0 0 22px,
		inset #bfecf7 0 0 0 23px;
	box-shadow:
		inset #19d4ff 0 0 0 5px,
		inset #18cdf7 0 0 0 1px,
		inset #53dfff 0 0 0 10px,
		inset #50d8f7 0 0 0 11px,
		inset #8ce9ff 0 0 0 16px,
		inset #88e2f7 0 0 0 17px,
		inset #c5f4ff 0 0 0 22px,
		inset #bfecf7 0 0 0 23px;
}


.title {
    display: flex;
    flex-direction: row;
    background-color: white; 
}
.title h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    padding-left: 400px;
    margin-top:0px ;
}

.title img {
    float: left;
    width: 120px;
    height: 120px;

}
.services-flight {
    background-image: url("https://www.nogarlicnoonions.com/images/uploads/TRAVEL/Travel%20is%20important.jpg");
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 800px;
    padding-top: 5px;
    
}
.services-flight h3 {
    margin-left: 50px;
}

.details-about-you {
    width: 600px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 400px;
}

.step1-form-container {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-left: 400px;
}
.flex-child1 {
    width: 200px;
    display: flex;
    flex-direction: column;  
}

.flex-child2 {
    width: 200px;
    display: flex;
    flex-direction: column;
}
.items1 {
    margin: 20px;
}
.profile-description {
    display: flex;
    width: 600px;
    margin-left: 400px;
}

label:after { content: ": " }

input {
    height: 25px;
    padding: 0 20px;
}

.shipping {
    display: flex;
    flex-direction: column;
    margin-left: 400px;

}
.step1-button {
    width: 100px;
    height: 40px;
    margin-left: 700px;
}