.items-container {
    background-color: #95bef0; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 15px;
    margin: 18px;
    width: 40%;
 
}

.items {
    flex-direction: column;
    color: black;
}
.buttons {
    padding: 14px;
}

.checked-item {
    text-decoration: line-through;
  }

li {
    color: white;
}